<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="post">
	<table width="200" border="1">
  <tr>
    <th scope="col">&nbsp;</th>
    <th scope="col">SDate</th>
    <th scope="col">EDate</th>
    <th scope="col">Percentage</th>
    <th scope="col">Discription</th>
    <th scope="col">Manage</th>
  </tr>
  <tr>
    <th scope="row">Foundation</th>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><a href="#">Edit</a></td>
  </tr>
  <tr>
    <th scope="row">Basement</th>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><a href="#">Edit</a></td>
  </tr>
  <tr>
    <th scope="row">Wall</th>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><a href="#">Edit</a></td>
  </tr>
  <tr>
    <th scope="row">Lintel</th>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><a href="#">Edit</a></td>
  </tr>
  <tr>
    <th scope="row">Sun Shade</th>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><a href="#">Edit</a></td>
  </tr>
  <tr>
    <th scope="row">Latrate Work</th>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><a href="#">Edit</a></td>
  </tr>
  <tr>
    <th scope="row">Roof Work</th>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><a href="#">Edit</a></td>
  </tr>
  <tr>
    <th scope="row">Electrical Work</th>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><a href="#">Edit</a></td>
  </tr>
  <tr>
    <th scope="row">Plumbing</th>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><a href="#">Edit</a></td>
  </tr>
  <tr>
    <th scope="row">Plastering</th>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><a href="#">Edit</a></td>
  </tr>
  <tr>
    <th scope="row">Flooring</th>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><a href="#">Edit</a></td>
  </tr>
  <tr>
    <th scope="row">Painting</th>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><a href="#">Edit</a></td>
  </tr>
  <tr>
    <th scope="row">Full Finish</th>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><a href="#">Edit</a></td>
  </tr>
  <tr>
    <th scope="row">Final Finishing</th>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><a href="#">Edit</a></td>
  </tr>
</table>

</form>
</body>
</html>
