<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<ul>
  <li><a href="/contractor_plan">Contractor plan</a></li>
  <li><a href="/contractor">Registration</a></li>
  <li><a href="/view_contractor_review">view contractor review</a></li>
  <li><a href="/daily_report">daily report</a></li>
  <li><a href="/document">document</a></li>
  <li><a href="/feedback">send feedback</a></li>
  <li><a href="/finance">finance management</a></li>
  <li><a href="/gallery">View gallery</a></li>
  <li><a href="/progress">update progress</a></li>
  <li><a href="/view_user_request">view user request</a></li>
    <li><a href="/view_order">View order</a></li>
  <li><a href="/chat">chat</a></li>
     <li><a href="/view_feedback">View Feedback And Send Reply</a></li>
</ul>
</body>
</html>
