<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="post" enctype="multipart/form-data">

</form>
<table width="387" border="1">
  <tr>
    <th width="178" scope="row">DATE</th>
    <td width="193"><form id="form1" name="form1" method="post" action="">
      <label for="textfield3"></label>
    </form></td>
  </tr>
  <tr>
    <th scope="row">PLAN</th>
    <td><form id="form2" name="form2" enctype="multipart/form-data" method="post" action="">
      <label for="fileField"></label>
      <input type="file" name="fileField" id="fileField" />
    </form></td>
  </tr>
  <tr>
    <th scope="row">DISCRIPTION</th>
    <td><form id="form3" name="form3" method="post" action="">
      <label for="textarea2"></label>
      <textarea name="textarea" id="textarea2" cols="45" rows="5"></textarea>
    </form></td>
  </tr>
  <tr>
    <th colspan="2" scope="row"><form id="form4" name="form4" method="post" action="">
      <input type="submit" name="button" id="button" value="Submit" />
    </form></th>
  </tr>
</table>
</body>
</html>
