{% extends 'contractor/index.html' %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="post">
<table width="70%" border="1" align="center" class="table text-white table-bordered" >
  <tr>
    <th scope="col">SLNO.</th>
    <th scope="col">Image</th>
      <th scope="col">Discription</th>
    <th scope="col">MANAGE</th>
  </tr>
    {% for i in data %}
  <tr >
    <td>{{ forloop.counter }}</td>
    <td><img src="{{ i.image }} " height="150px" width="150px" /></td>
    <td>{{ i.discription }}</td>
    <td><p><a href="/edit_gallery/{{ i.id }}">update</a>
    </p>
      <p><a href="/remove_gallery/{{ i.id }}">Delete</a></p></td>
  </tr>
    {% endfor %}
</table>

</form>
<br/><br>
</body>
</html>

{% endblock %}
