<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="post">
<table width="200" border="1">
  <tr>
    <th scope="col">brick</th>
    <th scope="col">cement</th>
    <th scope="col">plaster</th>
    <th scope="col">paint</th>
    <th scope="col">sand</th>
    <th scope="col">steel</th>
    <th scope="col">aggrigate</th>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="7"><input type="submit" name="button" id="button" value="Submit" /></td>
    </tr>
</table>

</form>
</body>
</html>
