<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<ul>
  <li><a href="/add_material">Add Material</a></li>
  <li><a href="/view_material">View Material</a></li>
{#    <li><a href="/update_material">Update Material</a></li>#}
  <li><a href="/add_plan">Add Plan</a></li>
  <li><a href="/view_plan">View Plan</a></li>
{#  <li><a href="/update_plan">Update Plan</a></li>#}
  <li><a href="/view_contractor_appproval">View Contractor And Approval</a></li>
  <li><a href="/view_contractor_appproved">View Approved Contractor</a></li>
  <li><a href="/view_dealer_appproval">View Dealer And Approval</a></li>
  <li><a href="/view_dealer_appproved">View Approved Dealer</a></li>
  <li><a href="/view_client">View Registered User</a></li>
  <li><a href="/view_dealer_complaint">View Dealer Complaint And Send Reply</a></li>
    <li><a href="/view_contractor_complaint">View Contractor Complaint And Send Reply</a></li>
  <li><a href="/feedback">View Feedback</a></li>
     <li><a href="/view_feedback">View Feedback And Send Reply</a></li>
</ul>
</body>
</html>
