{% extends 'admin/index.html' %}
{% block body %}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>

    <table class="table table-bordered text-white">
  <tr>
    <th scope="col">SLNO</th>
    <th scope="col">BUSINESS NAME</th>
    <th scope="col">CONTRACTOR NAME</th>
    <th scope="col">D.O.B</th>
    <th scope="col">ADDRESS</th>
    <th scope="col">CONTACT</th>
    <th scope="col">TYPE OF BUISNESS</th>
    <th scope="col">LICENSE NO.</th>
    <th scope="col">INSURANCE</th>
    <th scope="col">WORK EXPERIANCES</th>
{#    <th scope="col">YEAR OF EXPERIANCES </th>#}
{#    <th scope="col">Area Of Expertise</th>#}
{#    <th scope="col">Referance</th>#}
    <th scope="col">PROFILE</th>
    <th scope="col">Manage</th>
  </tr>
        {% for i in data %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ i.business_name }}</td>
    <td>{{ i.name }}</td>
    <td>{{ i.dob }}</td>
    <td>{{ i.building }}<br>{{ i.landmark }}<br>{{ i.town }}<br>{{  i.pincode }}<br>{{ i.state }}</td>
    <td>{{ i.email }}<br>{{ i.phone }}</td>
     <td>{{ i.business_type }}</td>
     <td>{{ i.license_num }}</td>
      <td>{{ i.insurance_info }}</td>
      <td>{{ i.work_exp }}</td>
{#      <td>{{ i.exp_yrs }}</td>#}
{#      <td>{{ i.area_expertise }}</td>#}
{#      <td>{{ i.reference }}</td>#}
      <td><a href="{{ i.profile }}"><img src="{{ i.profile }}" alt="" width="100" height="100"/></a> </td>
      <td><a href="/approve_contractor/{{ i.LOGIN.id }}">APPROVE</a>
          <a href="/contractor_reject/{{ i.LOGIN.id }}">REJECT</a></td>

  </tr>
        {% endfor %}
</table>

<br/><br>
</body>
</html>

{% endblock %}
