{% extends 'admin/index.html' %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form  name="form1" method="post" action="/hhhh">
    {% csrf_token %}
<table width="70%" border="1" align="center">
  <tr>
    <th scope="row">old password</th>
    <td>
      <label for="textfield"></label>
      <input type="password" name="textfield" id="textfield" />
    </td>
  </tr>
  <tr>
    <th scope="row">new password</th>
    <td>
      <label for="textfield2"></label>
      <input type="password" name="textfield2" id="textfield2" />
    </td>
  </tr>
    <tr>
    <th scope="row">confirm password</th>
    <td>
      <label for="textfield2"></label>
      <input type="password" name="textfield3" id="textfield3" />
    </td>
  </tr>
  <tr>
    <th height="31" colspan="2" scope="row">
      <input type="submit" name="button" id="button" value="submit" />
    </th>
  </tr>
</table>
    </form>
<br/><br/>
</body>
</html>

{% endblock %}