{% extends 'admin/index.html' %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="70%" border="1" align="center" class="table text-white table-bordered" >
  <tr>
    <th scope="col">SLNO</th>
    <th scope="col">NO.OF ROOM</th>
    <th scope="col">NO.OF BEDROOM</th>
    <th scope="col">NO.OF BATHROOM</th>
    <th scope="col">PLAN</th>
    <th scope="col">MANAGE</th>
  </tr>
    {% for i in data %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ i.room_count }}</td>
    <td>{{ i.bedroom_count }}</td>

    <td>{{ i.bathroom_count }}</td>
      <td><img src="{{ i.plan_image }}" alt="img" width="175" height="150"/></td>
    <td><p><a href="/update_plan/{{ i.id }}">Update</a></p>
    <p><a href="/delete_plan_post/{{ i.id }}">Delete</a></p></td>
  </tr>
    {% endfor %}
</table>
<br/><br/>

</body>
</html>

{% endblock %}