{% extends 'admin/index.html' %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<br/><br/>
<table width="80%" border="1" align="center" class="text-white">
  <tr>
    <th scope="col">SLNO</th>
    <th scope="col">DATE</th>
    <th scope="col">TIME</th>
    <th scope="col">COMPLAINER</th>
    <th scope="col">DEFENDANT</th>
    <th scope="col">COMPLAIN</th>
{#    <th scope="col">RESPONSE</th>#}
  </tr>
    {% for i in data %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ i.date }}</td>
    <td>{{ i.time }}</td>
    <td>{{ i.CONTRACTOR.name }}</td>
    <td>{{ i.DEALER.Dealer_name }}</td>
    <td>{{ i.complain }}</td>
{#    <td>{{ i.response }}</td>#}
  </tr>
    {% endfor %}
</table>
<br/><br/>
</body>
</html>

{% endblock %}