{% extends 'admin/index.html' %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="80%" border="1" align="center" class="text-white">
  <tr>
    <th scope="col">SLNO</th>
    <th scope="col">CLIENT NAME</th>
    <th scope="col">D.O.B</th>
    <th scope="col">ADDRESS</th>
    <th scope="col">CONTACT</th>
    <th scope="col">PROFILE</th>
    <th width="199" scope="col">MANAGE</th>
  </tr>
    {% for i in data %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ i.name }}</td>
    <td>{{ i.dob }}</td>
    <td>{{ i.building }}<br>{{ i.landmark }}<br>{{ i.town }}<br>{{  i.pincode }}<br>{{ i.state }}</td>
    <td>{{ i.email }}<br>{{ i.phone }}</td>
    <td><img src="{{ i.profile }}" alt="" height="150" width="150"> </td>
     {% if i.LOGIN.usertype == 'client' %}
      <td><a href="/block_client/{{ i.LOGIN.id }}">BLOCK</a> </td>
       {% else %}
      <td><a href="/unblock_client/{{ i.LOGIN.id }}">UNBLOCK</a> </td>
       {% endif %}
  </tr>
    {% endfor %}
</table>
<br/><br/>
</body>
</html>

{% endblock %}