{% extends 'dealer/index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="get">
<table width="600" border="1" class="text-white table table-bordered">
  <tr>
    <th scope="col">Contractor</th>
    <th scope="col">Address</th>
      <th scope="col">Contact</th>
    <th scope="col">Manage</th>
  </tr>
     {% for i in data %}
  <tr>
    <td>{{ i.CONTRACTOR.name }}</td>
    <td>{{ i.building }}<br/>{{ i.landmark }}<br/>{{ i.town }}<br/>{{ i.pincode }}<br/>{{ i.state }}</td>
    <td>{{ i.CONTRACTOR.email }}<br/>{{ i.CONTRACTOR.phone }}</td>
    <td>
      <p><a href="/view_contractor_approved_product_sub/{{ i.id }}#section_4">more...</a></p>
        <p><a href="/contractor_complaint/{{ i.id }}#section_4">Complain</a></p>
    </td>
  </tr>
     {% endfor %}

</table>

</form>
</body>
</html>
{% endblock %}