{% extends 'dealer/index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="/edit_product_post/{{ data.id }}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
<table width="200" border="1">
  <tr>
    <th scope="row">Product Name</th>
    <td><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" value="{{ data.pname }}" /></td>
  </tr>
  <tr>
    <th scope="row">Product Image</th>
    <td><label for="fileField"></label>
        <img src="{{ data.pic }}" width="100" alt="image"/>
      <input type="file" name="fileField" id="fileField" value="{{ data.pic }}" /></td>
  </tr>
  <tr>
    <th scope="row">Discription</th>
    <td><label for="textarea"></label>
      <textarea name="textarea" id="textarea" cols="45" rows="5">{{ data.discri }}</textarea></td>
  </tr>
  <tr>
    <th scope="row">Price</th>
    <td><label for="textfield2"></label>
      <input type="text" name="textfield2" id="textfield2" value="{{ data.price }}"/></td>
  </tr>
  <tr>
    <th scope="row">Status</th>
{#  {% if data.status == 'free charge' %}#}
    <td><p >
      <label>
        <input  type="radio" name="RadioGroup1"   value="free charge" {% if data.status == 'free charge' %}checked{% endif %} id="RadioGroup1_0" />
        Free Delivery Charge</label>
      <br />
      <label>
        <input type="radio" name="RadioGroup1" value="extra charge" id="RadioGroup1_1" />
        Extra Delivery Charge</label>
    </p>
    </td>
  </tr>
  <tr>
    <th colspan="2" scope="row"><input type="submit" name="button" id="button" value="Edit" /></th>
  </tr>
  </table>

</form>
</body>
</html>
{% endblock %}